<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <queries>
        <package android:name="com.retroarch.aarch64" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.netflix.mediaclient" />
        <package android:name="org.xbmc.kodi" />
        <package android:name="org.jellyfin.mobile" />
        <package android:name="com.plexapp.android" />
        <package android:name="com.spotify.music" />
        <package android:name="org.videolan.vlc" />
        <package android:name="tv.twitch.android.app" />
        <package android:name="com.limelight" />
        <package android:name="com.winlator" />
        <package android:name="com.termux" />
        <package android:name="com.google.android.documentsui" />
        <package android:name="com.android.chrome" />
    </queries>
    <application android:name=".GameBoxApplication" android:allowBackup="true" android:label="GameBox" android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
